# Enforce LF line endings for all text files
* text=auto eol=lf
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
uv.lock merge=binary linguist-generated=true -diff